body {
  font-family: "Cambria";
  background-color: rgb(241, 243, 242);
  color: rgb(43, 70, 78);
  margin-left: 720px;
}

h1,
h2,
footer {
  margin-left: 110px;
}

header,
h2 {
  color: rgb(40, 65, 119);
}

img {
  border-radius: 10px;
  border: 4px solid rgb(193, 211, 235);
}
